@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fafafc;
}
h1 {
  color: #ededed;
}
h2 {
  color: #777;
}
/* 
h2 {
  color: #000;
} */

h1 > span {
  background: -webkit-linear-gradient(lch(45% 70 270), lch(45% 70 300));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  color: #ededed;
}

#app {
/*   max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

@font-face {
  font-family: "San Francisco Bold";
  src: url("./fonts/san-francisco-display-bold.ttf") format('truetype');
}

@font-face {
  font-family: "San Francisco Regular";
  src: url("./fonts/san-francisco-display-regular.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/roboto/Roboto-Light.ttf") format('truetype');
}